---
interface Props {
    cards: {
        imgSrc: string;
        label: string;
        href: string;
    }[];
}

const { cards } = Astro.props;
---

<section class="p-section p-strip">
    <hr class="p-rule is-fixed-width" />
    <div class="p-section--shallow">
        <div class="grid-row">
            <div class="grid-col-4">
                <slot/>
            </div>
            <div class="grid-col-4 grid-col-medium-4 grid-col-small-2">
                <div class="grid-row">
                    {cards.map((card) => (
                      <div class="grid-col-2 grid-col-medium-2 grid-col-small-2">
                        <a href={card.href} aria-label={card.label}>
                          <div class="p-image-container--16-9 is-highlighted">
                            <img
                              class="p-image-container__image"
                              src={card.imgSrc}
                              alt=""
                              width="432"
                              height="481"
                            />
                          </div>
                          <hr class="p-rule--muted" />
                          <p>{card.label} ›</p>
                        </a>
                      </div>
                    ))}
                </div>
            </div>
        </div>
    </div>
</section>

