---
import { WebsiteConfig } from "@/config";
import { languages } from "@/i18n/ui";
const { lang } = Astro.props;
const config = WebsiteConfig(lang as keyof typeof languages);

import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout
    title={config.metadata.title}
    description={config.metadata.description}
>
    <div class="p-section--hero p-strip is-dark">
        <hr class="p-rule is-fixed-width" />

        <div class="grid-row">
            <div class="grid-col-4 grid-col-medium-4 grid-col-small-4">
                <h2>Forum</h2>
            </div>
            <div class="grid-col-4 grid-col-medium-4 grid-col-small-4">
                <div class="p-section--shallow">
                    <p>
                        Find questions posted by others in the forum, or ask
                        questions about difficulties you are experiencing to get
                        help from the community.
                    </p>
                </div>
            </div>
        </div>
        <div class="p-pricing-block">
            <div class="p-pricing-block__tier"></div>
            <div class="p-pricing-block__tier">
                <div class="p-pricing-block__section">
                    <div class="p-section--shallow">
                        <h3 class="p-heading--4">
                            Ubuntu Discourse
                            <br />

                            <span class="u-text--muted"
                                >discourse.ubuntu.com</span
                            >
                        </h3>
                    </div>
                </div>
                <div class="p-pricing-block__section">
                    <a href="https://discourse.ubuntu.com/"
                        ><button>Visit</button></a
                    >
                    <a
                        href="https://discourse.ubuntu.com/t/welcome-to-support-and-help/49951"
                        ><button>Ask a Question</button></a
                    >
                </div>
            </div>
            <div class="p-pricing-block__tier">
                <div class="p-pricing-block__section">
                    <div class="p-section--shallow">
                        <h3 class="p-heading--4">
                            Ubuntu Korea Community Forum
                            <br />

                            <span class="u-text--muted"
                                >discourse.ubuntu-kr.org</span
                            >
                        </h3>
                    </div>
                </div>
                <div class="p-pricing-block__section">
                    <a href="https://discourse.ubuntu-kr.org/"
                        ><button>Visit</button></a
                    >
                </div>
            </div>
            <div class="p-pricing-block__tier">
                <div class="p-pricing-block__section">
                    <div class="p-section--shallow">
                        <h3 class="p-heading--4">
                            Ask Ubuntu
                            <br />

                            <span class="u-text--muted">askubuntu.com</span>
                        </h3>
                    </div>
                </div>
                <div class="p-pricing-block__section">
                    <a href="https://askubuntu.com/"
                        ><button>Ask a Question</button></a
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="p-section--hero p-strip is-dark">
        <hr class="p-rule is-fixed-width" />

        <div class="grid-row">
            <div class="grid-col-4 grid-col-medium-4 grid-col-small-4">
                <h2>Documents</h2>
            </div>
            <div class="grid-col-4 grid-col-medium-4 grid-col-small-4">
                <div class="p-section--shallow">
                    <p>
                        Find the information you need through official
                        documentation or community-maintained documents.
                    </p>
                </div>
            </div>
        </div>
        <div class="p-pricing-block">
            <div class="p-pricing-block__tier"></div>
            <div class="p-pricing-block__tier">
                <div class="p-pricing-block__section">
                    <div class="p-section--shallow">
                        <h3 class="p-heading--4">
                            Official Documentation
                            <br />

                            <span class="u-text--muted">docs.ubuntu.com</span>
                        </h3>
                    </div>
                </div>
                <div class="p-pricing-block__section">
                    <a href="https://docs.ubuntu.com/"><button>Visit</button></a
                    >
                </div>
            </div>
            <div class="p-pricing-block__tier">
                <div class="p-pricing-block__section">
                    <div class="p-section--shallow">
                        <h3 class="p-heading--4">
                            Ubuntu Community Documentation
                            <br />

                            <span class="u-text--muted"
                                >ubuntu.com/community/docs</span
                            >
                        </h3>
                    </div>
                </div>
                <div class="p-pricing-block__section">
                    <a href="https://ubuntu.com/community/docs"
                        ><button>Visit</button></a
                    >
                </div>
            </div>
            <div class="p-pricing-block__tier">
                <div class="p-pricing-block__section">
                    <div class="p-section--shallow">
                        <h3 class="p-heading--4">
                            Tutorials
                            <br />

                            <span class="u-text--muted"
                                >ubuntu.com/tutorials</span
                            >
                        </h3>
                    </div>
                </div>
                <div class="p-pricing-block__section">
                    <a href="https://ubuntu.com/tutorials"
                        ><button>Visit</button></a
                    >
                </div>
            </div>
            <div class="p-pricing-block__tier"></div>
            <div class="p-pricing-block__tier">
                <div class="p-pricing-block__section">
                    <div class="p-section--shallow">
                        <h3 class="p-heading--4">
                            Community Wiki (Korean)
                            <br />

                            <span class="u-text--muted"
                                >discourse.ubuntu-kr.org/c/wiki/45</span
                            >
                            <span class="u-text--muted"
                                >old.wiki.ubuntu-kr.org</span
                            >
                        </h3>
                    </div>
                </div>
                <div class="p-pricing-block__section">
                    <a href="https://discourse.ubuntu-kr.org/c/wiki/45"
                        ><button>Visit</button></a
                    >
                    <a href="https://old.wiki-ubuntu-kr.org/"
                        ><button>Visit (Old)</button></a
                    >
                </div>
            </div>
            <div class="p-pricing-block__tier">
                <div class="p-pricing-block__section">
                    <div class="p-section--shallow">
                        <h3 class="p-heading--4">
                            Community Wiki (English)
                            <br />

                            <span class="u-text--muted">wiki.ubuntu.com</span>
                        </h3>
                    </div>
                </div>
                <div class="p-pricing-block__section">
                    <a href="https://wiki.ubuntu.com"><button>Visit</button></a>
                </div>
            </div>
            <div class="p-pricing-block__tier">
                <div class="p-pricing-block__section">
                    <div class="p-section--shallow">
                        <h3 class="p-heading--4">
                            Ubuntu Certified Hardware
                            <br />

                            <span class="u-text--muted"
                                >ubuntu.com/certified</span
                            >
                        </h3>
                    </div>
                </div>
                <div class="p-pricing-block__section">
                    <a href="https://ubuntu.com/certified"
                        ><button>Visit</button></a
                    >
                </div>
            </div>
        </div>
    </div>
</PageLayout>
